.btn {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-radius: 5px;
  min-width: 220px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.outlined_btn {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
